<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Só chapéus com Elas</title>
    <link rel = "stylesheet" type = "text/css" href = "css/estilo.css" />
</head>
<body style="background: white;">
    <script>
        function fs(){
            alert("Dados enviados com sucessos na BD")
        }
    </script>
    <main style="    background-image: url(img/fundo.jpg);">
        <div class="logo">
            <img src="/img/chapeu.png" alt="Logo da Banda" style="border-radius: 200px;">
        </div>
        <h1 class="titulo">Só chapéus com Elas</h1>
        <h2 class="lema">Toda mulher bem vestida precisa sempre de um chapéu</h2>
        <p class="texto">O chapéu (que derevia do vocabulo latim "Cappelus", de cappa que quer dizer : "Proteção em tecido para a cabeça") é um item do vestuário, com inúmeros variantes, que tem a função de proteger de condições climaticas, celebração de eventos, designar o status social do portador ou apenas enfeitar 
            </p><br>
        <hr><br>
             
             
        <img src="/img/ks.png" alt="Logo da Banda" style="border-top-left-radius: 5px;">

        <img src="/img/images.png" alt="Logo da Banda" >

        <img src="/img/dl.jpeg" alt="Logo da Banda" >

        <img src="/img/transferir.png" alt="Logo da Banda" >

        <img src="/img/transferir.png" alt="Logo da Banda" >

            <div style="background: #A7C0DC;width: 25.3%;height: 25%;margin-left: 80.9%;width: 140px;margin-top:-130.5px ">

                <form >
                    <p style="background: #A7C0DC; text-align: center; color: #9b1a1a;">Liga-se á nos</p>
                    <input type="text" name="nome" placeholder="Digite seu nome" style="border-radius: 10px;width:130px;border-radius: 5px; background-color:#ffff;"><br>
                    <input type="text" name="Sobrenome" placeholder="Digite seu sobreNome" style="border-radius: 5px;width:130px;border-radius: 5px; background-color:#ffff;"><br>
                    <input type="text" name="email" placeholder="Digite seu email" style="border-radius: 5px;width:130px; border-radius: 10px; background-color:#ffff;"><br>
                    <textarea name="comentario" placeholder="Faca um comentario" style="background-color:#ffff; width: 130px;height: 35px;border-radius: 10px;"></textarea><br>
                    <input  type="submit" value="Enviar" style=" border-radius: 5px;" onclick="fs()" >
                </form>
                </div>
        
            <div class="jk">
                &copy-right 2021  Só chapéus com Elas
            </div>

        

    </main>
</body>
</html>